.bash_history
.cache
.config
.cordova
.dbshell
.docker
.dockercfg
.grails_history
.gvm
.gvmrc
.local
.meteor
.meteorsession
.mongorc.js
.node-gyp
.npm
.nvm
.nvmrc
.profile
.pyenv
.ssh
.vim
.viminfo
.vimshell
.zshrc
hack
tmp
work
games
